@import "~bootstrap/scss/bootstrap";

.note {
  padding: 8px;
  cursor: pointer;
  
}

span {
  display: block;
  padding: 10px;
  background-color: rgb(208,244,228);
  border-radius: 5px;
}

.to-do-list {
  font-family: Roboto;
  font-size: 50px;
  }
.container {
  margin-top: 50px;
  background-color: rgb(249, 245, 234);
  border-radius: 5px;
}

